<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="#">
            <img src="../../../assets/navbar-icon/logo-navbar.png" alt="" width="150" height="75">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="employees-managment">Gestión Empleados</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="seervices-managment">Gestión Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="devices-managment">Gestión Dispositivos</a>
                </li>
            </ul>
            <button *ngIf="!auth.loggedIn" class="btn btn-outline-success" routerLink="login">Log In</button>
            <button *ngIf="auth.loggedIn" class="btn btn-outline-success" (click)="this.logout()" >Log Out</button>
        </div>
    </div>
  </nav>