<div class="div-ext-form">
    <br>
    <h1>Agregar servicio de Telefonía fija</h1>
    <!--
      Se agrega la etiqueta [FormGroup] = " " y se le pone el nombre que se le dio en el .ts
      Además, se utiliza (ngSubmit) = "funcion()" para llamar a la función y darle los datos
      newEmployeeForm.value obtiene los datos del form y los devuelve como un json
    -->
    <form  [formGroup] = "newLandlineForm" (ngSubmit)="add(newLandlineForm.value)" >
      <br>
      <div class="div-form">
      <div >
        <div class="form-group">
          <label class="form-label">Nombre del plan</label>
          <input formControlName="NombrePlan" #NombrePlan type="text" class="form-control" id="NombrePlan" placeholder="" value="" required="">
        </div><br>
  
        <div class="form-group">
          <label  class="form-label">Monto mensual</label>
          <input formControlName="PrecioMensual" #PrecioMensual type="int" class="form-control" id="PrecioMensual" placeholder="" value="" required="">
        </div><br>
          
        <div class="form-group">
          <label class="form-label">Minutos</label>
            <input formControlName="Minutos" #Minutos type="int" class="form-control" id="Minutos" placeholder="" required="">
          
        </div><br>
        <h2>Tarifa Adicional</h2>
        <div class="form-group">
          <label class="form-label">Número Techsa</label>
            <input formControlName="FijoTechsa" #FijoTechsa type="int" class="form-control" id="FijoTechsa" placeholder="" required="">
          
        </div><br>
        <div class="form-group">
          <label class="form-label">Número fijo otro operador</label>
            <input formControlName="FijoOperador" #FijoOperador type="int" class="form-control" id="FijoOperador" placeholder="" required="">
          
        </div><br>
        <div class="form-group">
          <label class="form-label">Cualquier número</label>
            <input formControlName="MovilCualquiera" #MovilCualquiera type="int" class="form-control" id="MovilCualquiera" placeholder="" required="">
        </div><br>
        
      </div>
      </div>
      <button  class="btn-forms" >Agregar</button>
    </form>
  
  </div>
  
