<div class="div-ext-form">
  <br>
  <h1>Modificar internet</h1>

  
  <form  [formGroup] = "newInternetForm" (ngSubmit)="modify(newInternetForm.value)">
    <br>
    <div class="div-form">
    <div >
      <div class="form-group">
        <label class="form-label">Nombre del plan</label>
        <input formControlName="NombrePlan" #NombrePlan type="text" class="form-control" id="NombrePlan" placeholder="" value="" required="">
      </div><br>

      <div class="form-group">
        <label class="form-label">Descripción</label>
        <input formControlName="Descripcion" #Descripcion type="text" class="form-control" id="Descripcion" placeholder="" value="" required="">
      </div><br>

      <div class="form-group">
        <label  class="form-label">Monto mensual</label>
        <input formControlName="PrecioMensual" #PrecioMensual type="int" class="form-control" id="PrecioMensual" placeholder="" value="" required="">
      </div><br>
        
      <div class="form-group">
        <label class="form-label">Velocidad Simétrica</label>
          <input formControlName="Velocidad" #Velocidad type="int" class="form-control" id="Velocidad" placeholder="" required="">
        
      </div><br>
    </div>
    </div>
  
    <button  class="btn-forms" >Modificar</button>
  </form>

</div>
