<body>
<div>
    <br>
    <h1>Gestión de empleados</h1>
    <br>
    <button routerLink="/new-employee" class='btn-verde' >Agregar empleado</button>
    <br>
    <table class="table">
        <thead >
            <tr>
                <th scope="col">ID laboral</th>
                <th scope="col">Nombre</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Puesto</th>
                <th scope="col">Usuario</th>
                <th scope="col">Cédula</th>
                <th scope="col">Función</th>
            </tr>
        </thead>
        <tbody *ngFor='let employee of employees'>
            <tr>
            <td>{{employee?.Id_laboral}}</td>
            <td>{{employee?.Nombre}}</td>
            <td>{{employee?.Contrasenia}}</td>
            <td>{{employee?.FechaNacimiento}}</td>
            <td>{{employee?.Puesto}}</td>
            <td>{{employee?.Usuario}}</td>
            <td>{{employee?.Cedula}}</td>
            <td>
                <button class='btn-delete' (click)='delete(employee?.Id_laboral,employee?.Puesto)'>Eliminar</button>
                <button class='btn-verde' routerLink="/employees-managment/{{employee?.Id_laboral}}">Modificar</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>



</body>