<body>
<h1>Gestión de empleados</h1>
<button class='btn-verde' >Agregar empleado</button>

<table class="table table-dark table-striped">
    <thead >
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">ID laboral</th>
            <th scope="col">Número</th>
            <th scope="col">Cédula</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Puesto</th>
            <th scope="col">Función</th>
        </tr>
    </thead>
    <tbody *ngFor='let employee of employees'>
        <tr>
        <td>{{employee.name}}</td>
        <td>{{employee.workid}}</td>
        <td>{{employee.password}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.datebirth}}</td>
        <td>{{employee.job}}</td>
        <td>
            <button class='btn-delete' >Eliminar</button>
            <button class='btn-verde'>Modificar</button>
        </td>
        </tr>
    </tbody>
</table>
</body>