<body>
    <div>
        <br>
        <h1>Gestión de internet</h1>
        <br>
        <button routerLink="/new-internet" class='btn-verde' >Agregar servicio Internet</button>
        <br>
        <table class="table">
            <thead >
                <tr>
                    <th scope="col">Nombre Plan</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Velocidad</th>
                    <th scope="col">Precio mensual</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Función</th>
                </tr>
            </thead>
            <tbody *ngFor='let plan of planes'>
                <tr>
                <td>{{plan?.NombrePlan}}</td>
                <td>{{plan?.Descripcion}}</td>
                <td>{{plan?.Velocidad}}</td>
                <td>{{plan?.PrecioMensual}}</td>
                <td>{{plan?.Tipo}}</td>
                <td>
                    <button class='btn-delete' (click)='delete(plan?.ID,plan?.NombrePlan)'>Eliminar</button>
                    <button class='btn-verde' routerLink="/modify-internet/{{plan?.ID}}">Modificar</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    </body>