<h1 id="page-title-text">Telefonía Fija</h1>

<section class="d-flex justify-content-center phone-section" >

    <div *ngFor="let planfijo of this.telephonyListingData" class="row row-cols1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center" >
                <div class="card-header">
                    {{planfijo.NombrePlan}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">  <span class="badge rounded-pill">{{planfijo.Minutos}} Minutos</span>  </h5>
            
                    <h6 class="card-subtitle">₡{{planfijo.PrecioMensual}} Mensuales</h6>
            
                    <p class="card-text">Tarifas Adicionales por minuto:
                        <br>Fijos TECHSA              ₡{{planfijo.FijoTechsa}}
                        <br>Fijos otro operador       ₡{{planfijo.FijoOperador}}
                        <br>Móvil cualquier operador  ₡{{planfijo.MovilCualquiera}}</p>
            
                    <a href="/telephony-listing" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    </div>

</section>



