<div class="div-ext-form">
    <br>
    <h1>Servicio de Internet</h1>
    <!--
      Se agrega la etiqueta [FormGroup] = " " y se le pone el nombre que se le dio en el .ts
      Además, se utiliza (ngSubmit) = "funcion()" para llamar a la función y darle los datos
      newEmployeeForm.value obtiene los datos del form y los devuelve como un json
    -->
    <form  [formGroup] = "newinternet" (ngSubmit)="add(newinternet.value)">
      <br>
      <div class="div-form">
      <div >
        <div class="form-group">
          <label class="form-label">Nombre del plan</label>
          <input formControlName="NombrePlan" #NombrePlan type="text" class="form-control" id="NombrePlan" placeholder="" value="" required="">
        </div><br>

        <div class="form-group">
          <label class="form-label">Descripción</label>
          <input formControlName="Descripcion" #Descripcion type="text" class="form-control" id="Descripcion" placeholder="" value="" required="">
        </div><br>
  
        <div class="form-group">
          <label  class="form-label">Monto mensual</label>
          <input formControlName="PrecioMensual" #PrecioMensual type="int" class="form-control" id="PrecioMensual" placeholder="" value="" required="">
        </div><br>
          
        <div class="form-group">
          <label class="form-label">Velocidad Simétrica</label>
            <input formControlName="Velocidad" #Velocidad type="int" class="form-control" id="Velocidad" placeholder="" required="">
          
        </div><br>
      </div>
      </div>
      <button  class="btn-forms" >Agregar</button>
    </form>
  
  </div>
  
