#page-title-text{
    color: white;
    font-family: Saira;
    font-style: Bold;
    font-size: 5rem;
    margin-top: 1rem;
    margin-left: 3rem ;
}

#page-subtitle-text{
    color: white;
    font-family: Saira;
    font-style: medium;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;

}

.prepaid-section {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.postpaid-section {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.postpaidplusdevice-section {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.card {

    border-color: #7B61FF;
    border-width: 2px;
    font-family: Saira;
    font-style: normal;

    width: 20rem;
    /* text-align: center; */

    border-radius: 5px;
    color: #212529;
}

.card-header{

    font-size: 36px;
    /* text-align: center; */

    display: flex;
    align-items: center;
    justify-content: center;

    
    color: #219653;
    background-color: #161925;

    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.badge{

    color: white;
    background: linear-gradient(111.17deg,#0056D7 -21.16%, #7B61FF 71.91%);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);

    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-subtitle{
    margin-top: 1rem;
}

.card-text{
    margin-top: 1rem;
}

.btn{
    font-size: 18px;
    color: white;
    background-color: #219653;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
}



