<p>telephony-listing works!</p>


<div class="row row-cols1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card text-center" >
            <div class="card-header">
                TechsaChip
            </div>
            <div class="card-body">
                <h5 class="card-title">  <span class="badge rounded-pill">Prepago</span>  </h5>
        
                <h6 class="card-subtitle">$1000</h6>
        
                <p class="card-text">Tarifas por minuto:
                    <br>Fijos TECHSA              ₡34
                    <br>Fijos otro operador       ₡40
                    <br>Móvil cualquier operador  ₡36</p>
        
                <a href="/movile-listing" class="btn">¡Lo quiero!</a>
            </div>
        </div>
    </div>
</div>

