<h1 id="page-title-text">Telefonía Móvil</h1>

<section class=" prepaid-section" >
    <div>
        <h2 id="page-subtitle-text">Planes Prepago</h2>
    </div>
    
    <div class="row row-cols1 row-cols-md-3 g-4">

        
        <div *ngFor="let prepago of this.prepaidList" class="col">
            <div class="card text-center" >
                <div class="card-header">
                    {{prepago.NombrePlan}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">  <span class="badge rounded-pill">{{prepago.TipoPlan}}</span>  </h5>
            
                    <h6 class="card-subtitle">₡{{prepago.PrecioMensual}}</h6>
            
                    <p class="card-text">Costo Llamada por minuto:
                        <br>₡{{prepago.CostoLlamada}}
                    </p>
            
                    <a (click)="this.addToCart(prepago)" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="postpaid-section" >
    <div>
        <h2 id="page-subtitle-text">Planes PostPago</h2>
    </div>
    
    <div class="row row-cols1 row-cols-md-3 g-4">

        <div *ngFor="let postpago of this.postpaidList" class="col">
            <div class="card text-center" >
                <div class="card-header">
                    {{postpago.NombrePlan}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">  
                        <span class="badge rounded-pill">{{postpago.Minutos}}min + {{postpago.GBInternet}}gb</span>  
                    </h5>
            
                    <h6 class="card-subtitle">₡{{postpago.PrecioMensual}} al mes</h6>
            
                    <p class="card-text">Costo Llamada por minuto:
                        <br>₡{{postpago.CostoLlamada}}
                    </p>
            
                    <a (click)="this.addToCart(postpago)" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class=" postpaidplusdevice-section" >
    <div>
        <h2 id="page-subtitle-text">Planes PostPago + Dispositivo Móvil</h2>
    </div>
    
    <div class="row row-cols1 row-cols-md-3 g-4">

        <div *ngFor="let postpagoDispositivo of this.tempMobilePlan; index as i" class="col">
            
            <div class="card text-center" >
                <div class="card-header">
                    {{postpagoDispositivo.NombrePlan}} + {{(this.tempDevice[i]).Marca}} 
                </div>
                <div class="card-body">
                    <h5 class="card-title">  <span class="badge rounded-pill">{{(this.tempDevice[i]).Modelo}}</span>  </h5>
            
                    <h6 class="card-subtitle">₡{{postpagoDispositivo.PrecioMensual}} al mes</h6>
            
                    <p class="card-text">Costo Llamada por minuto:
                        <br>₡{{(this.tempMobilePlan[i]).CostoLlamada}}
                    </p>
            
                    <a (click)="this.addToCart(postpagoDispositivo)" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>

    </div>
</section>
