<div class="div-ext-form"><h1>Modificar Contrato</h1></div>
<div>
    <h1>Planes disponibles</h1>
    
    <div class="container" >
    <div class="card text-center" *ngFor="let service of this.data">
        <div class="card-header">
            {{service.NombrePlan}}{{service?.nombreFijo}}{{service?.dispositivo}}{{service?.nombreInternet}}
        </div>
        <div class="card-body">
            <h5 class="card-title">  <span class="badge rounded-pill">₡{{service.PrecioMensual}}{{service?.Precio}}</span>  </h5>
            <p *ngIf="service.Descripcion">{{service?.Descripcion}}</p>
            <p *ngIf="service.Minutos">Minutos:{{service?.Minutos}}</p>
            <p *ngIf="service.FijoTechsa">Fijo TECHSA: ₡{{service?.FijoTechsa}}</p>
            <p *ngIf="service.FijoOperador">Fijo otro operador: ₡{{service?.FijoOperador}}</p>
            <p *ngIf="service.CostoLlamada">Costo llamada: ₡{{service?.CostoLlamada}}</p>
            <p *ngIf="service.GBInternet">Intenet: {{service?.GBInternet}} GB</p>
            <p *ngIf="service.Modelo">Modelo: {{service?.Modelo}}</p>
            <a (click)='elegir(service?.idServicioId)' class="btn">Elegir</a>
         
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
