<div class="div-ext-form">
    <br>
    <h1>Agregar empleado</h1>
    
    <!--
      Se agrega la etiqueta [FormGroup] = " " y se le pone el nombre que se le dio en el .ts
      Además, se utiliza (ngSubmit) = "funcion()" para llamar a la función y darle los datos
      newEmployeeForm.value obtiene los datos del form y los devuelve como un json
    -->
    <form  [formGroup] = "newMovilPlan" >
      <br>
      <div class="div-form">
      <div >
        <div class="form-group">
          <label class="form-label">Nombre</label>
          <!-- Los componentes que reciben los datos deben de tener la etiqueta formControlName=" "
             y lo que va ahí es el nombre de el campo que se puso en el .ts 
            En este caso firstName: [''], 
            entonces la etiqueta es formControlName="firstName"-->
          <input formControlName="firstName" #firstName type="text" class="form-control" id="firstName" placeholder="" value="" required="">
        </div><br>
  
        <div class="form-group">
          <label  class="form-label">Apellido</label>
          <input formControlName="lastName" #lastName type="text" class="form-control" id="lastName" placeholder="" value="" required="">
        </div><br>
          
        <div class="form-group">
          <label class="form-label">Cédula</label>
            <input formControlName="EmployeeId" #id type="int" class="form-control" id="id" placeholder="" required="">
          
        </div><br>
  
        <div class="form-group">
          <label class="form-label">ID laboral</label>
            <input formControlName="workid" #workid type="text" class="form-control" id="workid" placeholder="" required="">
          
        </div><br>
      </div>
      <div >
        <div class="form-group">
          <label class="form-label">Día de nacimiento </label>
          <input formControlName="workid" formControlName="datebirth" #datebirth type="date" class="form-control" id="datebirth" >
          
        </div><br>
        <div class="form-group">
          <label for="email" class="form-label">Correo </label>
          <input #email type="text" class="form-control" id="email" >
          
        </div><br>
        <div class="form-group">
          <label for="address"  class="form-label">Dirección </label>
          <input #address type="text" class="form-control" id="address" >
          
          
        </div><br>
    
        <div class="form-group">
          <label class="form-label">Puesto</label>
          <select formControlName="job" #job class="form-control" id="job" required="">
            <option>Administrador</option>
            <option>Empleado</option>
          </select>
        </div><br>
  
      </div>
    </div>
      <button  class="btn-forms" >Agregar</button>
    </form>
  
  </div>
  
