
.input {
    margin-top: 1rem;
    font-family: Saira;
    font-size: 2rem;
}

.btn {
    margin-top: 2rem;
}

.login{
    margin-top: 3rem;
    align-content: center;
}

.pageTitle {
    font-family: Saira;
    font-size: 4rem;
}

.custom-form {

}