<p>devices-listing works!</p>


<div class="row row-cols1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card text-center" >
    
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-purple-select-2021?wid=940&hei=1112&fmt=png-alpha&.v=1617130317000" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">  <span class="badge rounded-pill">iPhone12</span>  </h5>
                <h6 class="card-subtitle">$4000</h6>
                <p class="card-text">
                    Almacenamiento: 64GB
                    <br>RAM: 4GB
                    <br>Cámara: 12MP
                    <br>Color: Purple
                    <br>Cantidad 20</p>
        
                <button type="button"  class="btn" (click)="addToCart()">¡Lo quiero!</button>
            </div>
        </div>
    </div>

    
</div>

