
<div class= "title-container">
    <h1 class="titulo-carrito">Carrito de compras</h1>
</div>
<div class=shoping-car-elements>
    <div *ngFor="let device of devicesList" class="movile-phone" >
    
        <div class="car-element-title">
            <h2 id="element-title-text">{{device.Model}}</h2>
        </div>
        <div class="device-cart-content">
           <p class="price-text">Precio:₡</p>
           <div class="cuantity-selector">
            <p class="cuantity-text" >Cantidad:</p>
            <input type="number" value="1" min="1" max="10" step="1"/>
            <button class='btn-delete' (click)='tempCallback()'>Eliminar</button>
           </div>
           
        </div>
    </div>
</div>


<section class="container internet-section gradient50" >
    
    <div class="row justify-content-md-center">
        <h2 id="page-subtitle-text">Planes Internet 30mb simétricos</h2>
    </div>

    <div class="row row-cols1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center" >
                <div class="card-header">
                    Techsa 30@1
                </div>
                <div class="card-body">
                    <h5 class="card-title">  <span class="badge rounded-pill">30mb</span>  </h5>
            
                    <h6 class="card-subtitle">$15000</h6>
            
                    <p class="card-text">
                        <br>30mb de VELOCIDAD
                        <br></p>
            
                    <a href="/internet-listing" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container internet-section gradient100" >
    
    <div class="row justify-content-md-center">
        <h2 id="page-subtitle-text">Planes Internet 30mb simétricos</h2>
    </div>

    <div class="row row-cols1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center" >
                <div class="card-header">
                    Techsa 30@1
                </div>
                <div class="card-body">
                    <h5 class="card-title">  <span class="badge rounded-pill">30mb</span>  </h5>
            
                    <h6 class="card-subtitle">$15000</h6>
            
                    <p class="card-text">
                        <br>30mb de VELOCIDAD
                        <br></p>
            
                    <a href="/internet-listing" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container internet-section gradient200" >
    
    <div class="row justify-content-md-center">
        <h2 id="page-subtitle-text">Planes Internet 30mb simétricos</h2>
    </div>

    <div class="row row-cols1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center" >
                <div class="card-header">
                    Techsa 30@1
                </div>
                <div class="card-body">
                    <h5 class="card-title">  <span class="badge rounded-pill">30mb</span>  </h5>
            
                    <h6 class="card-subtitle">$15000</h6>
            
                    <p class="card-text">
                        <br>30mb de VELOCIDAD
                        <br></p>
            
                    <a href="/internet-listing" class="btn">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    </div>
</section>