.titulo-carrito{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    /* or 75% */
    color: #FFFFFF;
    width: 25rem;
    height: 2.5rem;
    margin: auto;
}


#element-title-text{
    color:#FFFFFF
}

.title-container{
    display: flex;
    text-align: center;
    width: 100%;
}


.device{
    margin-top: 10rem;
}
