

<div class= "title-container">
    <h1 class="titulo-carrito">Carrito de compras</h1>
</div>
<div class=shoping-car-elements>
   
</div>


<div class="cart-elements" >

    <template #deviceContainer class="device"></template>
    <template #serviceContainer class="service"></template>
    
</div>
<div Class="total">
    <h2 class="total-lbl">Total: {{this.total}} </h2>
</div>

<div class="cart-buttons">
    <button Class="acept-btn" (click)="confirmOrder()" > Confirmar</button>
    <button Class="delete-all-btn">Vaciar Carrio</button>
</div>