<div class="div-ext-form">
    <br>
    <h1>Modificar empleado</h1>
    <form  [formGroup] = "modifyEmployeeForm" (ngSubmit)="modify(modifyEmployeeForm.value)">
      <br>
      <div class="div-form">
      <div >
        <div class="form-group">
          <label class="form-label">Nombre</label>
          <input formControlName="nombre" #firstName type="text" class="form-control" id="firstName" placeholder="" value="" required="">
        </div><br>
  
    
          
        <div class="form-group">
          <label class="form-label">Cédula</label>
            <input formControlName="cedula" #id type="int" class="form-control" id="id" placeholder="" required="">
          
        </div><br>
  
        <div class="form-group">
          <label class="form-label">ID laboral</label>
            <input formControlName="id_laboral" #workid type="text" class="form-control" id="workid" placeholder="" required="">
          
        </div><br>
      </div>
      <div >
        
        <div class="form-group">
          <label class="form-label">Día de nacimiento </label>
          <input formControlName="fechaNacimiento" #datebirth type="date" class="form-control" id="datebirth" >
          
        </div><br>
        <div class="form-group">
          <label for="user"  class="form-label">Usuario </label>
          <input formControlName="usuario" #user type="text" class="form-control" id="user" >
          </div><br>

        <div class="form-group">
        <label for="password"  class="form-label">Contrasena </label>
        <input formControlName="contrasenia" #password type="text" class="form-control" id="password" >
        </div><br>
    
        
    </div>
    </div>
    <div class="form-group">
        <label class="form-label">Puesto</label>
        <select formControlName="puesto" #job class="form-control" id="job" required="">
          <option>Gerente</option>
          <option>Agente de Ventas</option>
        </select>
      </div><br>
      <button  class="btn-forms" >Modificar</button>
    </form>
  
  </div>
