<div class="div-ext-form">
  <br>
  <h1>Modificar teléfonía móvil</h1>

  
  <form  [formGroup] = "newMobiePhoneForm" (ngSubmit)="modify(newMobiePhoneForm.value)">
    <br>
    <div class="div-form">
      <div >
        <div class="form-group">
          <label class="form-label">Nombre del plan</label>
          <input formControlName="NombrePlan" #NombrePlan type="text" class="form-control" id="NombrePlan" placeholder="" value="" required="">
        </div><br>
  
        <div class="form-group">
          <label  class="form-label">Descrpción</label>
          <input formControlName="Descripcion" #Descripcion type="int" class="form-control" id="Descripcion" placeholder="" value="" required="">
        </div><br>
          
        <div class="form-group">
          <label class="form-label">Precio mensual</label>
            <input formControlName="PrecioMensual" #PrecioMensual type="int" class="form-control" id="PrecioMensual" placeholder="" required="">
          
        </div><br>
        <div class="form-group">
          <label class="form-label">GB de internet</label>
            <input formControlName="GBInternet" #GBInternet type="int" class="form-control" id="GBInternet" placeholder="" required="">
          
        </div><br>
        <div class="form-group">
          <label class="form-label">Costo de llamada</label>
            <input formControlName="CostoLlamada" #CostoLlamada type="text" class="form-control" id="CostoLlamada" placeholder="" required="">
          
        </div><br>
        <div class="form-group">
          <label class="form-label">Minutos</label>
            <input formControlName="Minutos" #Minutos type="text" class="form-control" id="Minutos" placeholder="" required="">
        </div><br>
      </div>
  
      <div>
        <label class="form-label">Tipo de linea</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="TipoPlan" id="TipoPlan" value="Prepago" checked>
          <label class="form-check-label" for="exampleRadios1">Prepago</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="TipoPlan" id="TipoPlan" value="Postpago">
          <label class="form-check-label" for="exampleRadios2">Postpago</label>
        </div>
  
        <div class="input-group-prepend">
          <label class="form-label">Dispositivo</label>
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ninguno</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Huawei</a>
            <a class="dropdown-item" href="#">Sangsum</a>
            <a class="dropdown-item" href="#">Iphone</a>
          </div>
        </div>
        
      </div>
    </div>
    <button  class="btn-forms" >Modificar</button>
  </form>

</div>
