<div class="div-form">
  <h1>Agregar empleado</h1>
  <form  (submit)='add(firstName.value)' >
    <br>
    <div>
      <div class="form-group">
        <label for="firstName" class="form-label">Nombre</label>
        <input #firstName type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div><br>

      <div class="form-group">
        <label for="lastName" class="form-label">Apellido</label>
        <input #lastName type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div><br>
        
      <div class="form-group">
        <label for="id" class="form-label">Cédula</label>
          <input #id type="int" class="form-control" id="id" placeholder="" required="">
        
      </div><br>

      <div class="form-group">
        <label for="workid" class="form-label">Id laboral</label>
          <input #workid type="int" class="form-control" id="workid" placeholder="" required="">
        
      </div><br>

      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
          <input #password type="int" class="form-control" id="password" placeholder="" required="">
        
      </div><br>
  
      <div class="form-group">
        <label for="datebirth" class="form-label">Fecha de nacimiento </label>
        <input #datebirth type="date" class="form-control" id="datebirth" >
        
      </div><br>
      <div class="form-group">
        <label for="email" class="form-label">Correo </label>
        <input #email type="text" class="form-control" id="email" >
        
      </div><br>
      <div class="form-group">
        <label for="address" class="form-label">Dirección </label>
        <input #address type="text" class="form-control" id="address" >
        
      </div><br>
  
      <div class="form-group">
        <label for="job" class="form-label">Puesto</label>
        <select #job class="form-select" id="job" required="">
          <option value="">Administrador</option>
          <option>Empleado</option>
        </select>
      </div><br>

    </div>
    <button  class="btn-forms">Añadir</button>
  </form>

</div>

