<p>telephony-listing works!</p>


<div class="row row-cols1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card text-center" >
            <div class="card-header">
                Techsa 30@1
            </div>
            <div class="card-body">
                <h5 class="card-title">  <span class="badge rounded-pill">30mb</span>  </h5>
        
                <h6 class="card-subtitle">$15000</h6>
        
                <p class="card-text">
                    <br>30mb de VELOCIDAD
                    <br></p>
        
                <a href="/internet-listing" class="btn">¡Lo quiero!</a>
            </div>
        </div>
    </div>
</div>

