<h1 id="page-title-text">Internet</h1>

<section *ngFor="let planInternet of this.internetList" [ngClass]="chooseGradient(planInternet.Velocidad)" >
    
    <div class="row justify-content-md-center">
        <h2 id="page-subtitle-text">Planes Internet {{planInternet.Velocidad}}mb simétricos</h2>
    </div>

    <div class="container">
        <div class="card text-center" >
            <div class="card-header">
                {{planInternet.NombrePlan}} 
            </div>
            <div class="card-body">
                <h5 class="card-title">  <span class="badge rounded-pill">₡{{planInternet.PrecioMensual}} mensuales</span>  </h5>
        
                <p class="card-text">
                    <br>{{planInternet.Descripcion}}
                    <br></p>
        
                <a (click)="addToCart(planInternet)" class="btn">¡Lo quiero!</a>
            </div>
        </div>

        <!-- Los demás planes de la misma velocidad del plan inicial -->
        <div *ngFor="let otroPlan of this.internetLandline_And_MobilesPlans" >
            <div *ngIf="planInternet.Velocidad == otroPlan.Velocidad; else elseBlock">
                    <div  class="card text-center" >
                        <div class="card-header">
                            {{otroPlan.NombrePlan}} 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">  <span class="badge rounded-pill">₡{{otroPlan.PrecioMensual}} mensuales</span>  
                            </h5>

                            <p class="card-text">
                                <br>{{otroPlan.Descripcion}}
                                <br></p>
                            <a (click)="addToCart(otroPlan)" class="btn">¡Lo quiero!</a>
                        </div>
                    </div>
            </div>
            <ng-template #elseBlock id="delete">
            </ng-template>
        </div>
    </div>
</section>

